<% include partials/header %>

    <div class="container">

    <div class="filelist">
        <div class="listelement head">Morelog File-Provider</div>
    </div>
    <div class="content">
    </div>
</div>
    <% include partials/footer %>
